{% import "macros/svg-icons.twig" as svg %}

<header class="header bg-transparent text-18 px-20 flex justify-center w-full fixed top-0 z-[2] md:text-16 js-header">
	<div class="header--inner pt-20 flex justify-end w-full">
		<div class="menu-icon-wrapper flex top-20 right-20 cursor-pointer">
			{{ svg.svgSpriteIcon('menu-open text-dark-fuchsia hover:text-light-pink h-24 w-24 js-open-btn', 'hamburger') }}
		</div>
		<div class="main-menu bg-white flex flex-col w-full px-20 pt-20 fixed top-0 right-0 bottom-0 border-gray border-t-solid border-t-1 md:w-auto js-main-menu">	
			<div class="menu-icon-wrapper flex justify-end cursor-pointer">
				{{ svg.svgSpriteIcon('menu-close text-dark-fuchsia hover:text-light-pink h-24 w-24 top-0 right-0 js-close-btn', 'close') }}
			</div>
			<div class="site-logo-wrapper py-20 text-metalic-gold">
				<a class="inline-block" href={{ site.url }} data-title="site logo">
					{% if options.header.logo.url %}
						{% set ext = getExtension(options.header.logo.url) %}
						{% if ext == 'svg' %}
							{{ inlineSvg(options.header.logo.url) }}
						{% else %}
							<img src="{{ options.header.logo.url }}" alt={{ options.header.log.url.alt ?: ' '}} />	
						{% endif %}
					{% else %}
						{{ svg.svgIcon('logo', 'h-auto w-[75px] scale-x-[-1] md:scale-x-[1]') }}					
					{% endif %}
				</a>
			</div>
			<nav class="nav">
				<ul class="menu__list">
				{% for item in main_menu.items %}
					<li class="menu__list-item border-gray border-b-solid border-b-1 hover:text-dark-fuchsia transition md:border-0{{ not loop.last ? ' py-20 md:p-10 md:mb-0' : null}}{{ loop.last ? ' primary mt-20' : null }}" data-item="{{ item.title|lower }}">
						<a class="flex w-full {{ loop.last ? 'justify-center' }}" href="{{ item.link }}" data-title="{{ item.title }}" {{ item.target ? 'target="_blank"' : null }}>{{ item.title }}</a>
					</li>
				{% endfor %}
				</ul>
			</nav>
		</div>			
	</div>
</header>